html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

A {
  text-decoration: none;
}

a {
  color:aqua;
}

body{
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-color:black;
color: blanchedalmond;
}